doctype html
html
  head
    title InformSecurity Laba
  body
    h1 Выполненные задания
    ul Лабораторная 1
    li
      a href="/laba1/euler" Функция Эйлера
    li
      a href="/laba1/brute_simpliness" Грубая проверка на простоту
    li
      a href="/laba1/miller_simpliness" Проверка на простоту методом Миллера
    li
      a href="/laba1/miller_rabin" Проверка на простоту методом Миллера-Рабина


