doctype html
html
  head
    title InformSecurity Laba
  body
    - unless @is_simple.nil?
      .answer
        p Результат - #{@is_simple}

    h2 Тест на простоту - метод Миллера-Рабина
    form method="POST" action="/laba1/miller_rabin"
      label for="a" Число n:
      input type="number" id="n" name="n"
      label for="n" Число k:
      input type="number" id="k" name="k"
      input type="submit" value="Получить результат"

    a href="/" На Главную

