doctype html
html
  head
    title InformSecurity Laba
  body
    - if @euler_answer
      .euler-answer
        p Результат функции Эйлера - #{@euler_answer}

    h2 Функция Эйлера
    form method="POST" action="/laba1/euler"
      label for="value" Первое число:
      input type="number" id="value" name="value"
      input type="submit" value="Получить значение"

    a href="/" На Главную

