doctype html
html
  head
    title InformSecurity Laba
  body
    - unless @is_simple.nil?
      .answer
        p Результат - #{@is_simple}

    h2 Тест на простоту - БрутФорс
    form method="POST" action="/laba1/brute_simpliness"
      label for="value" Число:
      input type="number" id="value" name="value"
      input type="submit" value="Получить результат"

    a href="/" На Главную

