doctype html
html
  head
    title InformSecurity Laba
  body
    - unless @is_simple.nil?
      .answer
        p Результат - #{@is_simple}

    h2 Тест на простоту - метод Миллера
    form method="POST" action="/laba1/miller_simpliness"
      label for="a" Число a:
      input type="number" id="a" name="a"
      label for="n" Число n:
      input type="number" id="n" name="n"
      input type="submit" value="Получить результат"

    a href="/" На Главную

